{% extends 'base.html' %}

<!-- body content -->
{% block content %}
<form class="form-signin" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <!-- protection from some attacks -->
    <div class="text-center mb-4">
        <!-- <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal">Sign Up!</h1>
        {% if error %}
        <!-- display error -->
        {{ error }}
        {% endif %}

        <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
    </div>

    <div class="form-label-group">
        <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required
            autofocus>
        <label for="inputEmail">Username</label>
    </div>

    <!-- <div class="form-label-group">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div> -->

    <div class="form-label-group">
        <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Confirm Password"
            required>
        <label for="inputPassword">Confirm Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up!">Sign Up!</button>
</form>
</body>

{% endblock %}