{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="{{ product.icon.url }}" class="img-fluid" />
        </div>
        <div class="col-10">
            <a href="{{ product.url }}"><h3>{{ product.title }}</h3></a>
        </div>
    </div>
        
    <div class="row">
        <div class="col-8">
            <img src="{{ product.image.url }}" class="img-fluid" />
        
        </div>
        
        <div class="col-4">
            <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span>Upvote {{ product.votes_total }}</button></a>
        </div>
    </div>
        
    <div class="row">
        <div class="col-4">
            <p class="lead">Hunted by <a href="#">{{ product.hunter.username }}</a></p>
        </div>
        <div class="col-4 text-right">
            <p class=""><span class="oi oi-clock">&nbsp;</span>{{ product.pub_date_prettify }}</p>
        </div>
    </div>
        
        
    <div class="row">
        
        <p>{{ product.body }}</p>
    </div>
    
    <!-- hidden form -->
    <form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden">
    </form>
</div>

{% endblock %}
